.about-us-section {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .about-us-section h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .about-us-video {
    flex: 1;
  }
  
  .about-us-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .about-us-text p {
    margin-bottom: 20px;
  }
  