/* EditCategoryModal.module.css */

.modalOverlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: #1E1E1E;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.closeButton {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 0;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalContent label {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}

.modalContent input,
.modalContent textarea {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: white;
    width: 95%;
}

.modalContent input[type="file"] {
    background-color: #333;
    color: white;
}

.modalContent button {
    padding: 15px 25px;
    background-color: #ee1e32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modalContent button:hover {
    background-color: #a61d15;
}

.modalContent img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
